.btn-secondary{
    background-color: #1C0E49 !important;
}

.navbar{
    background-color: #1C0E49 !important;
}

.nav-link{
    color: #ffffff !important;
}

.nav-link:hover{
    color: grey !important;
}

.logo{
    max-width: 150px;
    max-height: 200px;
}

.mt-6{
    margin-top: 5rem;
}